@charset "UTF-8";
@font-face {
  font-family: "Kelvinch";
  src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-Roman.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Kelvinch";
  src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-Bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: "Kelvinch";
  src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kelvinch";
  src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-Italic.woff") format("woff");
  font-style: italic;
}
.main_container {
  display: grid;
  grid-template-areas: "navleft content navright";
  grid-template-columns: 220px 1fr 220px;
  height: calc(100vh - 100px);
  width: 100vw;
}
.main_container .nav_left {
  grid-area: navleft;
  background-color: hsl(0deg, 0%, 88%);
  overflow-y: auto;
  border-right: 1px solid hsl(0deg, 0%, 70%);
  padding-left: 1rem;
}
.main_container .mid_content {
  grid-area: content;
  overflow-y: auto;
}
.main_container .nav_right {
  grid-area: navright;
  background-color: hsl(0deg, 0%, 88%);
  overflow-y: auto;
  padding: 1rem;
  border-left: 1px solid hsl(0deg, 0%, 70%);
}

.header {
  background-color: hsl(0deg, 0%, 88%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header .site-title {
  font-size: 2rem;
  font-weight: bold;
}

.nav_left ul {
  padding-bottom: 1rem;
}
.nav_left ul li {
  padding: 0.25rem;
}
.nav_left ul li:first-child {
  font-weight: bold;
  font-size: 1.25rem;
}
.nav_left ul li a {
  color: hsl(0deg, 0%, 30%);
  position: relative;
}
.nav_left ul li a:hover {
  color: hsl(0deg, 0%, 17%);
}
.nav_left ul li a::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -4px;
  left: 0;
  right: 0;
  background-color: hsl(0deg, 0%, 30%);
  width: 0;
  transition: all ease-in-out 200ms;
}
.nav_left ul li a:hover::before {
  width: 100%;
  color: hsl(0deg, 0%, 17%);
}
.nav_left ul .link_item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.nav_left ul .link_item .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border-radius: 0.03rem;
  background-color: hsl(0deg, 0%, 70%);
  font-weight: bold;
}

.nav_right {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.nav_right .groep_info {
  width: 100%;
}
.nav_right .groep_info img {
  border: 1px solid hsl(0deg, 0%, 70%);
  height: 150px;
  width: 150px;
  border-radius: 0.3rem;
  margin: 0 auto;
  padding: 0.5rem;
}
.nav_right .locatie_info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid hsl(0deg, 0%, 70%);
  font-weight: bold;
}
.nav_right .locatie_info .locatie {
  display: flex;
  align-items: center;
  grid-column: span 3;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
}
.nav_right .locatie_info .locatie a {
  text-transform: capitalize;
  color: hsl(0deg, 0%, 30%);
}
.nav_right .locatie_info .tijd {
  display: flex;
  align-items: center;
  grid-column: span 2;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  border-right: 1px solid hsl(0deg, 0%, 70%);
}
.nav_right .locatie_info .weer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.nav_right .gebruikers_info {
  text-align: center;
}
.nav_right .gebruikers_info span {
  font-weight: bold;
  font-style: italic;
}
.nav_right .progress {
  display: grid;
  gap: 0.5rem;
}
.nav_right .progress_bg {
  background-color: hsl(0deg, 0%, 70%);
}
.nav_right .progress_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  gap: 1rem;
  background-color: hsl(0deg, 0%, 17%);
  color: hsl(0deg, 0%, 93%);
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
}

.mid_content {
  padding: 1rem;
}
.mid_content .main_content {
  display: grid;
  gap: 1rem;
  position: relative;
}
.mid_content .main_content .artikel {
  text-align: center;
  padding: 1rem;
}
.mid_content .main_content .artikel h3 {
  font-size: 3rem;
  border: 0;
}
.mid_content .main_content .artikel h4 {
  padding: 1rem;
  font-size: 1.5rem;
}
.mid_content .main_content .artikel img {
  height: 200px;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
.mid_content .main_content .artikel p {
  padding: 1rem;
}
.mid_content .main_content .artikel a {
  width: 200px;
}
.mid_content .main_content .artikel .btn_groep {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.mid_content .main_content .alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(0deg, 0%, 70%);
  background-color: hsl(0deg, 0%, 88%);
  gap: 1rem;
  position: fixed;
  top: 55px;
  left: 220px;
  right: 220px;
  margin: 0 auto;
  width: 350px;
  padding: 0.5rem;
}
.mid_content .main_content .alert p {
  font-size: 1rem;
  font-weight: bold;
}
.mid_content .main_content .register {
  width: 800px;
  margin: 0 auto;
  border: 1px solid hsl(0deg, 0%, 70%);
}
.mid_content .main_content .register .input_groep {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.mid_content .main_content .register .input_field,
.mid_content .main_content .register .select_field {
  display: flex;
  border-bottom: 2px solid hsl(0deg, 0%, 70%);
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0;
}
.mid_content .main_content .register .input_field i,
.mid_content .main_content .register .select_field i {
  background-color: hsl(0deg, 0%, 70%);
  padding: 0.5rem;
  color: hsl(0deg, 0%, 17%);
}
.mid_content .main_content .register .input_field input[type=text],
.mid_content .main_content .register .select_field input[type=text] {
  background-color: transparent;
  font-weight: bold;
  width: 100%;
}
.mid_content .main_content .register .input_field select,
.mid_content .main_content .register .input_field input[type=date],
.mid_content .main_content .register .select_field select,
.mid_content .main_content .register .select_field input[type=date] {
  background-color: transparent;
  font-weight: bold;
  width: 100%;
  opacity: 0.5;
}
.mid_content .main_content .uilen_container {
  max-height: 220px;
  border: 1px solid hsl(0deg, 0%, 70%);
  overflow-y: auto;
  border-top: 0;
}
.mid_content .main_content .uilen_container .uil {
  display: grid;
  grid-template-columns: 5% 15% 1fr 10% 5%;
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  padding: 1rem 2rem;
  gap: 0.5rem;
  align-items: center;
  transition: all ease-in-out 200ms;
  cursor: pointer;
}
.mid_content .main_content .uilen_container .uil:last-child {
  border: 0;
}
.mid_content .main_content .uilen_container .uil:hover {
  background-color: hsl(0deg, 0%, 88%);
}
.mid_content .main_content .uilen_container .uil .naam,
.mid_content .main_content .uilen_container .uil .datum {
  font-weight: bold;
}
.mid_content .main_content .uilen_container .uil .onderwerp {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mid_content .main_content .uilen_container .uil_nieuw {
  background-color: hsl(0deg, 0%, 88%);
}
.mid_content .main_content .brief_container {
  border: 1px solid hsl(0deg, 0%, 70%);
  border-top: 0;
}
.mid_content .main_content .brief_container .brief_data {
  display: grid;
  grid-template-columns: 10% 1fr;
  background-color: hsl(0deg, 0%, 88%);
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  font-size: 0.875rem;
}
.mid_content .main_content .brief_container .brief_data ul:first-child {
  background-color: hsl(0deg, 0%, 93%);
  border-right: 1px solid hsl(0deg, 0%, 70%);
}
.mid_content .main_content .brief_container .brief_data ul:last-child {
  font-weight: bold;
}
.mid_content .main_content .brief_container .brief_data ul li {
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  padding: 0.5rem 1rem;
}
.mid_content .main_content .brief_container .brief_data ul li:last-child {
  border: 0;
}
.mid_content .main_content .brief_container .brief_info {
  padding: 2rem;
}
.mid_content .main_content .brief_container .brief_info h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.mid_content .main_content .brief_container .brief_info p {
  font-style: italic;
}
.mid_content .main_content .brief_container .brief_info .brief_reward {
  background-color: hsl(0deg, 0%, 88%);
  border: 1px solid hsl(0deg, 0%, 70%);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.mid_content .main_content .brief_container .brief_info .brief_reward h5 {
  font-weight: bolder;
}
.mid_content .main_content .koffer_btns {
  display: flex;
  gap: 1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.mid_content .main_content .koffer_btns button {
  width: 100%;
  font-size: 1.25rem;
}
.mid_content .main_content .koffer_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.mid_content .main_content .koffer_container .koffer_info {
  display: grid;
  grid-template-columns: 30% 1fr;
  background-color: hsl(0deg, 0%, 88%);
  border-left: 1px solid hsl(0deg, 0%, 70%);
  border-right: 1px solid hsl(0deg, 0%, 70%);
  font-size: 0.875rem;
}
.mid_content .main_content .koffer_container .koffer_info ul:first-child {
  background-color: hsl(0deg, 0%, 93%);
  border-right: 1px solid hsl(0deg, 0%, 70%);
}
.mid_content .main_content .koffer_container .koffer_info ul:last-child {
  font-weight: bold;
}
.mid_content .main_content .koffer_container .koffer_info ul li {
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  padding: 0.5rem 1rem;
}
.mid_content .main_content .koffer_container .koffer_info ul li:last-child {
  border: 0;
}
.mid_content .main_content .koffer_container .items_container {
  border: 1px solid hsl(0deg, 0%, 70%);
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.mid_content .main_content .koffer_container .items_container button {
  border: 1px solid hsl(0deg, 0%, 70%);
  cursor: pointer;
}
.mid_content .main_content .koffer_container .items_container button img {
  height: 50px;
  width: 50px;
}
.mid_content .main_content .koffer_container .preview_container {
  border: 1px solid hsl(0deg, 0%, 70%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 1rem;
  border-top: 0;
}
.mid_content .main_content .koffer_container .preview_container .preview h4 {
  border: 1px solid hsl(0deg, 0%, 70%);
  padding: 0.5rem;
  font-weight: bold;
}
.mid_content .main_content .koffer_container .preview_container .preview_img {
  border: 1px solid hsl(0deg, 0%, 70%);
  border-top: 0;
}
.mid_content .main_content .koffer_container .preview_container .preview_img img {
  height: 250px;
  padding: 0.5rem;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.mid_content .main_content .koffer_container .preview_container .preview_info p {
  font-style: italic;
  font-size: 0.875rem;
}
.mid_content .main_content .koffer_container .preview_container .preview_info ul {
  margin: 0.5rem 0;
  list-style-type: "• ";
  padding-left: 1rem;
  font-weight: bold;
  font-style: italic;
  font-size: 0.875rem;
}
.mid_content .main_content .wegisweg_container {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 1rem;
  margin: 1rem 0;
}
.mid_content .main_content .wegisweg_container .winkels .winkels_lijst {
  border: 1px solid hsl(0deg, 0%, 70%);
  border-top: 0;
  overflow-x: auto;
  max-height: calc(100vh - 240px);
}
.mid_content .main_content .wegisweg_container .winkels .winkels_lijst li {
  padding: 1rem;
  font-weight: bold;
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.mid_content .main_content .wegisweg_container .winkels .winkels_lijst li:last-child {
  border: 0;
}
.mid_content .main_content .wegisweg_container .winkels .winkels_lijst li:hover {
  background-color: hsl(0deg, 0%, 88%);
}
.mid_content .main_content .wegisweg_container .winkels .winkels_lijst .winkel_active {
  background-color: hsl(0deg, 0%, 88%);
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items {
  border: 1px solid hsl(0deg, 0%, 70%);
  border-top: 0;
  overflow-x: auto;
  max-height: calc(100vh - 240px);
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid hsl(0deg, 0%, 70%);
  background-color: hsl(0deg, 0%, 88%);
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item:last-child {
  border: 0;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul {
  font-size: 0.875rem;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul li {
  margin-top: 0.5rem;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul li h4 {
  font-style: normal;
  font-size: 1.25rem;
  font-weight: bold;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul li span {
  font-weight: bold;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul li p {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: bold;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul .kosten {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item ul .kosten img {
  height: 15px;
  width: 15px;
  border: 0;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item .kopen {
  display: flex;
  align-items: center;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item .kopen select,
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item .kopen button {
  background-color: hsl(0deg, 0%, 93%);
  border: 1px solid hsl(0deg, 0%, 70%);
  padding: 0.5rem;
  cursor: pointer;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item .kopen select {
  border-right: 0;
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item .kopen button:hover {
  background-color: hsl(0deg, 0%, 70%);
}
.mid_content .main_content .wegisweg_container .winkel .winkel_items .winkel_item p {
  padding: 0.5rem;
  grid-column: span 3;
  font-size: 0.75rem;
  font-weight: bold;
  font-style: italic;
}

.register_btn {
  padding: 0.5rem 1rem;
  border: 1px solid hsl(0deg, 0%, 70%);
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  color: hsl(0deg, 0%, 17%);
}
.register_btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 5px;
  bottom: 5px;
  left: -5px;
  right: -5px;
  border: 1px solid hsl(0deg, 0%, 70%);
  transition: all ease-in-out 200ms;
}
.register_btn:hover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 3px hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 70%);
}

.cross {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  color: hsl(0deg, 0%, 17%);
}
.cross i {
  font-size: 1.25rem;
}
.cross:hover {
  opacity: 0.6;
}

.tabs_container {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  margin-top: 1rem;
}
.tabs_container .tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tabs_container .tabs .btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background-color: transparent;
}
.tabs_container .tabs .btn:hover {
  background-color: #ddd;
}
.tabs_container .tabs .btn.active {
  background-color: hsl(0deg, 0%, 88%);
}
.tabs_container .sections {
  background-color: hsl(0deg, 0%, 88%);
}
.tabs_container .sections .pagina.active {
  padding: 2rem;
  display: block;
}
.tabs_container .sections .pagina {
  display: none;
}
.tabs_container .sections .pagina h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.tabs_container .sections .pagina p {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-weight: 300;
}

.footer {
  background-color: hsl(0deg, 0%, 88%);
  height: 50px;
  display: flex;
  place-items: center;
  justify-content: center;
  border-top: 1px solid hsl(0deg, 0%, 70%);
}
.footer .footer-text {
  font-weight: bold;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: "Kelvinch", sans-serif;
  background-color: hsl(0deg, 0%, 93%);
  color: hsl(0deg, 0%, 17%);
}

a,
button {
  transition: all ease-in-out 200ms;
  display: inline-block;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  display: block;
}

button,
input,
select {
  font-family: "Kelvinch", sans-serif;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border: 1px solid hsl(0deg, 0%, 70%);
}

ul {
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */