@font-face {
    font-family: "Kelvinch";
    src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-Roman.woff") format('woff');
    font-weight: normal;
}
  
@font-face {
    font-family: "Kelvinch";
    src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "Kelvinch";
    src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-BoldItalic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Kelvinch";
    src: url("../../assets/fonts/kelvinch/Webfonts/Kelvinch-Italic.woff") format('woff');
    font-style: italic;
}