.footer {
    background-color: $color-bg-2;
    height: 50px;
    @include flex;
    place-items: center;
    justify-content: center;
    border-top: 1px solid $color-border;
    
    .footer-text {
        font-weight: bold;
    }
}