.mid_content {
    padding: 1rem;

    .main_content {
        @include grid;
        gap: 1rem;
        @include relative;

        .artikel {
            text-align: center;
            padding: 1rem;
    
            h3 {
                font-size: 3rem;
                border: 0;
            }

            h4 {
                padding: 1rem;
                font-size: 1.5rem;
            }
    
            img {
                height: 200px;
                width: 200px;
                object-fit: contain;
                margin: 0 auto;
            }
    
            p {
                padding: 1rem;
            }

            a {
                width: 200px;
            }

            .btn_groep {
                @include flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
            }
        }

        .alert {
            @include flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $color-border;
            background-color: $color-bg-2;
            gap: 1rem;
            @include fixed;
            top: 55px;
            left: 220px;
            right: 220px;
            margin: 0 auto;
            width: 350px;
            padding: .5rem;
            // box-shadow: 4px 4px 0px $color-border;

            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .register {
            width: 800px;
            margin: 0 auto;
            border: 1px solid $color-border;

            .input_groep {
                @include grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem; 
            }

            .input_field,
            .select_field {
                @include flex;
                border-bottom: 2px solid $color-border;
                align-items: center;
                gap: 1rem;
                padding: .5rem 0;

                i {
                    background-color: $color-border;
                    padding: .5rem;
                    color: $color-font;
                }

                input[type=text] {
                    background-color: transparent;
                    font-weight: bold;
                    width: 100%;
                }

                select,
                input[type=date] {
                    background-color: transparent;
                    font-weight: bold;
                    width: 100%;
                    opacity: .5;
                }
            }
        }

        .uilen {

            &_container {
                max-height: 220px;
                border: 1px solid $color-border;
                overflow-y: auto;
                border-top: 0;

                .uil {
                    @include grid;
                    grid-template-columns: 5% 15% 1fr 10% 5%;
                    border-bottom: 1px solid $color-border;
                    padding: 1rem 2rem;
                    gap: .5rem;
                    align-items: center;
                    transition: $transition;
                    cursor: pointer;

                    &:last-child {
                        border: 0;
                    }

                    &:hover {
                        background-color: $color-bg-2;
                    }

                    .naam,
                    .datum {
                        font-weight: bold;
                    }

                    .onderwerp {
                        width: 90%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .uil_nieuw {
                    background-color: $color-bg-2;
                }

            }

        }

        .brief {

            &_container {
                border: 1px solid $color-border;
                border-top: 0;

                .brief_data {
                    @include grid;
                    grid-template-columns: 10% 1fr;
                    background-color: $color-bg-2;
                    border-bottom: 1px solid $color-border;
                    font-size: .875rem;

                    ul {

                        &:first-child {
                            background-color: $color-bg;
                            border-right: 1px solid $color-border;
                        }

                        &:last-child {
                            font-weight: bold;
                        }

                        li {
                            border-bottom: 1px solid $color-border;
                            padding: .5rem 1rem;

                            &:last-child  {
                                border: 0;
                            }
                        }
                    }
                }

                .brief_info {
                    padding: 2rem;

                    h4 {
                        font-size: 1.5rem;
                        margin-bottom: .5rem;
                    }

                    p {
                        font-style: italic;
                    }

                    .brief_reward {
                        background-color: $color-bg-2;
                        border: 1px solid $color-border;
                        padding: 1rem;
                        @include flex;
                        justify-content: space-between;
                        margin-top: 2rem;
                        
                        h5 {
                            font-weight: bolder;
                        }
                    }
                }
            }
        }

        .koffer {
            
            &_btns {
                @include flex;
                gap: 1rem;
                margin-top: -1rem;
                margin-bottom: 1rem;
                padding: 0 1rem;

                button {
                    width: 100%;
                    font-size: 1.25rem;
                }
            }

            &_container {
                @include grid; 
                grid-template-columns: repeat(2, 1fr);
                gap: 1rem;

                .koffer_info {
                    @include grid;
                    grid-template-columns: 30% 1fr;
                    background-color: $color-bg-2;
                    border-left: 1px solid $color-border;
                    border-right: 1px solid $color-border;
                    font-size: .875rem;
                    
                    ul {

                        &:first-child {
                            background-color: $color-bg;
                            border-right: 1px solid $color-border;
                        }

                        &:last-child {
                            font-weight: bold;
                        }

                        li {
                            border-bottom: 1px solid $color-border;
                            padding: .5rem 1rem;

                            &:last-child  {
                                border: 0;
                            }
                        }
                    }
                }

                .items_container {
                    border: 1px solid $color-border;
                    @include flex;
                    padding: 1rem;
                    gap: 1rem;

                    button {
                        border: 1px solid $color-border;
                        cursor: pointer;

                        img {
                            height: 50px;
                            width: 50px;
                        }
                    }

                }

                .preview_container {
                    border: 1px solid $color-border;
                    @include grid;
                    grid-template-columns: repeat(2, 1fr);
                    padding: 1rem;
                    gap: 1rem;
                    border-top: 0;

                    .preview {
                        
                        h4 {
                            border: 1px solid $color-border;
                            padding: .5rem;
                            font-weight: bold;
                        }

                        &_img{
                            border: 1px solid $color-border;
                            border-top: 0;

                            img {
                                height: 250px;
                                padding: .5rem;
                                margin: 0 auto;
                                object-fit: contain;
                            }
                        }

                    }

                    .preview_info {

                        p {
                            font-style: italic;
                            font-size: .875rem;
                        }

                        ul {
                            margin: .5rem 0;
                            list-style-type: "• ";
                            padding-left: 1rem;
                            font-weight: bold;
                            font-style: italic;
                            font-size: .875rem;
                        }

                    }
                }
            }

        }

        .wegisweg {
            
            &_container {
                @include grid;
                grid-template-columns: 35% 1fr;
                gap:1rem;
                margin: 1rem 0;

                // WINKELS lIJST
                .winkels {
                    
                    .winkels_lijst {
                        border: 1px solid $color-border;  
                        border-top: 0;
                        overflow-x: auto;
                        max-height: calc(100vh - 240px);

                        li {
                            padding: 1rem;
                            font-weight: bold;
                            border-bottom: 1px solid $color-border;
                            text-transform: capitalize;
                            cursor: pointer;
                            transition: $transition;

                            &:last-child {
                                border: 0;
                            }

                            &:hover {
                                background-color: $color-bg-2;
                            }
                        }

                        .winkel_active {
                            background-color: $color-bg-2;
                        }
                    }
                }

                // WINKEL ZELF
                .winkel {

                    .winkel_items {
                        border: 1px solid $color-border;  
                        border-top: 0;
                        overflow-x: auto;
                        max-height: calc(100vh - 240px);

                        .winkel_item {
                            @include grid;
                            grid-template-columns: 150px 1fr 150px;
                            align-items: center;
                            justify-content: center;
                            gap: 2rem;
                            padding: 1rem;
                            border-bottom: 1px solid $color-border;
                            background-color: $color-bg-2;

                            &:last-child {
                                border: 0;
                            }

                            ul {
                                font-size: .875rem;

                                li {
                                    margin-top: .5rem;

                                    h4 {
                                        font-style: normal;
                                        font-size: 1.25rem;
                                        font-weight: bold;
                                    }
                                    
                                    span {
                                        font-weight: bold;
                                    }

                                    p {
                                        font-size: .75rem;
                                        font-style: italic;
                                        font-weight: bold;
                                    }
                                }

                                .kosten {
                                    @include flex;
                                    gap: .5rem;
                                    align-items: center;

                                    img {
                                        height: 15px;
                                        width: 15px;
                                        border: 0;
                                    }
                                }


                            } 

                            .kopen {
                                @include flex;
                                align-items: center;

                                select,
                                button {
                                    background-color: $color-bg;
                                    border: 1px solid $color-border;
                                    padding: .5rem;
                                    cursor: pointer;
                                }

                                select {
                                    border-right: 0;
                                }

                                button {

                                    &:hover {
                                        background-color: $color-border;
                                    }
                                }

                            }

                            p {
                                padding: .5rem;
                                grid-column: span 3;
                                font-size: .75rem;
                                font-weight: bold;
                                font-style: italic;
                            }

                        }
                    }
                }
            }
        }
    }
}