// LINKER NAVIGATIE
.nav_left {

    ul {
        padding-bottom: 1rem;

        li {
            padding: .25rem;

            &:first-child {
                font-weight: bold;
                font-size: 1.25rem;
            }

            a {
                color: $color-link;
                @include relative;

                &:hover {
                    color: $color-font;
                }

                &::before {
                    content: '';
                    @include absolute;
                    height: 2px;
                    bottom: -4px;
                    left: 0;
                    right: 0;
                    background-color: $color-link;
                    width: 0;
                    transition: $transition;
                }
                
                &:hover::before {
                    width: 100%;
                    color: $color-font;
                }
            }
        }

        .link_item {
            @include flex;
            align-items: center;
            gap: .7rem;

            .badge {
                @include flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                width: 20px;
                border-radius: .03rem;
                background-color: $color-border;
                font-weight: bold;
            }
        }
    }
}


// RECHTER NAVIGATIE
.nav_right {
    @include flex; 
    gap: 1rem;
    flex-direction: column;

    .groep_info {
        width: 100%;

        img {
            border: 1px solid $color-border;
            height: 150px;
            width: 150px;
            border-radius: .3rem;
            margin: 0 auto;
            padding: .5rem;
        }
    }

    .locatie_info {
        @include grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid $color-border;
        font-weight: bold;

        .locatie {
            @include flex;
            align-items: center;
            grid-column: span 3;
            gap: .5rem;
            justify-content: center;
            padding: .5rem;
            border-bottom: 1px solid $color-border;

            a {
                text-transform: capitalize;
                color: $color-link;
            }
        }

        .tijd {
            @include flex;
            align-items: center;
            grid-column: span 2;
            gap: .5rem;
            justify-content: center;
            padding: .5rem;
            border-right: 1px solid $color-border;
        }

        .weer {
            @include flex;
            align-items: center;
            gap: .5rem;
            justify-content: center;
            padding: .5rem;
            font-size: 1.5rem;
        }
    }

    .gebruikers_info {
        text-align: center;

        span {
            font-weight: bold;
            font-style: italic;
        }
    }

    .progress {
        @include grid;
        gap: .5rem;

        &_bg {
            background-color: $color-border;
        }

        &_bar {
            @include flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            gap: 1rem;
            background-color: $color-font;
            color: $color-bg;
            font-size: .75rem;
            padding: .2rem .5rem;
        }
    } 
}
